<aside class="AsideModal-main">
    <h3>Appliquer des filtres de recherche</h3>
<ul>
    <li>Les catégories : <ul class="submenu">
        <li><input type="checkbox"> Histoire</li>
        <li><input type="checkbox"> Géographie</li>
        <li><input type="checkbox"> Jeux-vidéo</li>
        <li><input type="checkbox"> Cinéma</li>
        <li><input type="checkbox"> Sport</li>
    </ul></li>
    <li>Les quizs : <ul class="submenu">
        <li><input type="checkbox"> Films des années 2000</li>
        <li><input type="checkbox"> les Jeux consoles</li>
        <li><input type="checkbox"> Football</li>
        <li><input type="checkbox"> Politique après guerre mondiale</li>
        <li><input type="checkbox"> Les capitales du monde</li>
    </ul></li>
    <li>Autres : <ul class="submenu">
        <li><input type="checkbox"> Quiz achevé</li>
        <li><input type="checkbox"> Quiz inachevé</li>
        <li><input type="checkbox"> Date </li>
    </ul></li>
</ul>
<table class="top10Modal-table">
    <tr>
        <th>Pseudo joueur</th> <th>Score</th> <th>Date score</th> <th>Quiz</th>
    </tr>
    <tr>
        <td>joueur11</td> <td>35 pts</td> <td>17/12/23</td> <td>quiz 1</td>
    </tr>
    <tr>
        <td>joueur</td> <td>35 pts</td> <td>17/12/23</td> <td>quiz 1</td>
    </tr>
    <tr>
        <td>joueur1</td> <td>35 pts</td> <td>17/12/23</td> <td>quiz 1</td>
    </tr>
    <tr>
        <td>joueur2</td> <td>35 pts</td> <td>17/12/23</td> <td>quiz 1</td>
    </tr>
    <tr>
        <td>joueur3</td> <td>35 pts</td> <td>17/12/23</td> <td>quiz 1</td>
    </tr>
</table>
</aside>