<aside class="AsideModal-main">
    <%-categoriesListe%>
    <p><a href="/categcreate">Ajouter une catégorie</a></p>
    <%-quizListe%>
    <p><a href="/quizcreate">Ajouter un quiz</a></p>
    <%-nbrsLignes%>
    <p><a href="/questcreate">Ajouter une question</a></p>
    
</aside>