<aside class="AsideModal-main">
    <h3>Appliquer des filtres de recherche</h3>
    <div class="tableHtml">
    <%- tableHtml %>
    </div>
<ul>
    <li>Les catégories : <ul class="submenu">
        <li><input type="checkbox"> Histoire</li>
        <li><input type="checkbox"> Géographie</li>
        <li><input type="checkbox"> Jeux-vidéo</li>
        <li><input type="checkbox"> Cinéma</li>
        <li><input type="checkbox"> Sport</li>
    </ul></li>
    <li>Les quizs : <ul class="submenu">
        <li><input type="checkbox"> Films des années 2000</li>
        <li><input type="checkbox"> les Jeux consoles</li>
        <li><input type="checkbox"> Football</li>
        <li><input type="checkbox"> Politique après guerre mondiale</li>
        <li><input type="checkbox"> Les capitales du monde</li>
    </ul></li>
    <li>Autres : <ul class="submenu">
        <li><input type="checkbox"> Quiz achevé</li>
        <li><input type="checkbox"> Quiz inachevé</li>
        <li><input type="checkbox"> Date </li>
    </ul></li>
</ul>
<div style="width: 80%;" id="tableauUser">
</div>
</aside>