<aside class="AsideModal-main">
    <h3>Liste des joueurs</h3>
    <div class="tableHtml">
    <%- tableHtml %>
    </div>
    <h3>Catégories et leurs quizs</h3>
<div class="listeCategorie">
    <%- listeCategorie %>
</div>
</aside>