<form enctype="multipart/form-data" method="post" action="/QuizCreate" class="quiz-create">
    <h1>Création du quizz :</h1>
    <table>
        <tr>
            <td>
                Nom du quiz :
            </td>
            <td>
                <input type="text" minlength="1" maxlength="50" name="titre" class="champ-form"
                    placeholder="nom du quiz">
            </td>
        </tr> 
        <tr>
            <td>
                Description :
            </td>
            <td>
                <textarea name="description" cols="30" rows="10" maxlength="200" class="champ-form"
                    placeholder="description du quiz"></textarea>
            </td>
        </tr>
        <tr>
            <td><%- selectcateg %></td>
            <td>Ajouter une image:<input type="file" name="image"></td>
        </tr>
        <tr>
            <td align="center">
                <input type="submit" value="Validé !" class="Boutton-form">
            </td>
            <td align="center">
                <input type="reset" value="Annuler" class="Boutton-form">
            </td>
        </tr>
    </table>
</form>