<form action="">
    <table>
        <tr>
            <td>
                Nom catégorie :
            </td>
            <td>
                <input type="text" name="" id="categDesi">
            </td>
        </tr>
        <tr>
            <td>
                Description catégorie :
            </td>
            <td>
                <textarea name="" id="categDescri" cols="30" rows="10"></textarea>
            </td>
        </tr>
    </table>
</form>