<div class="loginModal-container">
    <div class="loginModal-box">
        <form action="login.js" method="post" class="loginModal-box-form" name="loginForm" onsubmit="return checkLogs();">
            <h1 class="loginModal-h1">Le Quizz de la généralité</h1>
            <img src="Images/circle.png" class="loginModal-img" alt="">
            <table>
                <tr>
                    <td align="center"colspan="2">Nom utilisateur :  <input type="text" class="loginModal-user-input" placeholder="Nom d'utilisateur" id="userLog-name"></td>
                </tr>
                <tr>
                    <td align="center" colspan="2">Mot de passe :  <input type="password" class="loginModal-user-input" placeholder="Mot de passe" id="userLog-pwd"></td>
                </tr>
                <tr>
                    <td align="center"><input type="submit" value=" Se connecter" class="loginModal-button" id="check-button"></td>
                    <td align="center"><input type="reset" value="Annuler" class="loginModal-button"></td>
                </tr>
            </table>
            <img src="Images/circle.png" class="loginModal-img" alt="">
            <p class="loginModal-box-form-footer">Vous n'avez pas de compte ? créer en un <a href="createAccount.html">ici</a> !</p>
        </form>
    </div>
</div>