<main class="main">
    <div class="Film">
        <h5>Le cinéma :</h5>

        <!-- première division ciné-->

        <div class="leftbar">

            <div class="bloc">
                <img src="Images/Imagine_Dragons_Bones_cover.jpg" alt="">
                <section>
                    <h2>Quiz n°1</h2>
                    <p>Description du Quiz + regles</p>
                    <button class="start-Quiz">Lancer le Quiz</button>
                </section>
            </div>

            <div class="bloc">
                <img src="Images/ab67616d0000b2732e617c3e5ef4e889437cbb7d.jpg" alt="">
                <section>
                    <h2>Quiz n°1</h2>
                    <p>Description du Quiz + regles</p>
                    <button class="start-Quiz">Lancer le Quiz</button>
                </section>
            </div>
            <div class="bloc">
                <img src="Images/ab67616d0000b2732e617c3e5ef4e889437cbb7d.jpg" alt="">
                <section>
                    <h2>Quiz n°1</h2>
                    <p>Description du Quiz + regles</p>
                    <button class="start-Quiz">Lancer le Quiz</button>
                </section>
            </div>


        </div>

        <!-- seconde division ciné-->

        <div class="rightbar">


            <div class="bloc">
                <img src="Images/Coldplay_-_Paradise.jpg" alt="">
                <section>
                    <h2>Quiz n°1</h2>
                    <p>Description du Quiz + regles</p>
                    <button class="start-Quiz">Lancer le Quiz</button>
                </section>
            </div>
            <div class="bloc">
                <img src="Images/Coldplay_-_Paradise.jpg" alt="">
                <section>
                    <h2>Quiz n°1</h2>
                    <p>Description du Quiz + regles</p>
                    <button class="start-Quiz">Lancer le Quiz</button>
                </section>
            </div>


        </div>

    </div>

    <!-- Partie histoire-->

    <div class="Histoire">
        <h5>Histoire :</h5>

        <!-- première division histoire-->

        <div class="leftbar">

            <div class="bloc">
                <img src="Images/Naruto.jpg" alt="">
                <section>
                    <h2>Quiz n°1</h2>
                    <p>Description du Quiz + regles</p>
                    <button class="start-Quiz">Lancer le Quiz</button>
                </section>
            </div>
            <div class="bloc">
                <img src="Images/Naruto.jpg" alt="">
                <section>
                    <h2>Quiz n°1</h2>
                    <p>Description du Quiz + regles</p>
                    <button class="start-Quiz">Lancer le Quiz</button>
                </section>
            </div>

            <div class="bloc">
                <img src="Images/bleach.jpg" alt="">
                <section>
                    <h2>Quiz n°1</h2>
                    <p>Description du Quiz + regles</p>
                    <button class="start-Quiz">Lancer le Quiz</button>
                </section>
            </div>

        </div>

        <!--seconde division histoire-->

        <div class="rightbar">

            <div class="bloc">
                <img src="Images/Dn.jpg" alt="">
                <section>
                    <h2>Quiz n°1</h2>
                    <p>Description du Quiz + regles</p>
                    <button class="start-Quiz">Lancer le Quiz</button>
                </section>
            </div>
            <div class="bloc">
                <img src="Images/Dn.jpg" alt="">
                <section>
                    <h2>Quiz n°1</h2>
                    <p>Description du Quiz + regles</p>
                    <button class="start-Quiz">Lancer le Quiz</button>
                </section>
            </div>

        </div>

    </div>
</main>