<nav class="navBar-nav">
    <img src="Images/circle.png" alt="">
    <p><a href="">Accueil</a></p> <p><a href="">Profil</a></p> <p><a href="">Classement</a></p> <p><a href="">Connexion</a></p>
</nav>