<nav class="navBar-nav">
    <img src="http://localhost:3000/Images/circle.png">
    <p><a href="/home">Accueil</a></p>
    <p><a href="/profil">Profil</a></p>
    <p><a href="/logout">Déconnexion</a></p>
    
    <a href=""><p id="user-nickname"></p></a>
    <img src="http://localhost:3000/Images/circle.png">
</nav>