<header>
    <nav class="navBar-nav">
        <img src="http://localhost:3000/Images/circle.png">
        <ul>
            <li><a href="/home">Accueil</a></li>
            <li><a href="/profil">Profil</a></li>
            <li><a href="/logout">Déconnexion</a></li>
            <li><%-pseudoUtilisateur %></li>
        </ul>
        <img src="http://localhost:3000/Images/circle.png">
    </nav>
</header>