    <!--créer un formulaire qui contient un tableau avec les différents champs-->
    <form action="/sign-in" method="post" class="sign-in-form">
        <h1>Inscription à QuizzApp.</h1>
        <table class="sign-in-form-tab">
            <tr>
                <td align="center">Nom utilisateur<span>*</span> :</td>
                <td><input class="champ-form" type="text" maxlength="50"  name="pseudo" placeholder="Nom d'utilisateur"></td>
            </tr>
            <tr>
                <td align="center">Mot de passe<span>*</span> :</td>
                <td><input class="champ-form" type="password" maxlength="50"  name="pwd" placeholder="Mot de passe"></td>
            </tr>
            <tr>
                <td align="center">Confirmer votre mot de passe <span>*</span> :</td>
                <td><input class="champ-form" type="password" maxlength="50"  name="pwdConf" placeholder="Confirmation mot de passe"></td>
            </tr>
            <tr>
                <td align="center">Votre addresse mail :</td>
                <td><input class="champ-form" type="text" maxlength="100" name="mail" placeholder="Email"></td>
            </tr>
            <tr>
                <td align="center">Votre nom :</td>
                <td><input type="text" class="champ-form" maxlength="50"  name="nom" placeholder="Votre nom"></td>
            </tr>
            <tr>
                <td align="center">Votre prénom :</td>
                <td><input type="text" class="champ-form" maxlength="50"  name="prenom" placeholder="Votre prénom"></td>
            </tr>
            <tr>
                <td align="center"><input class="Boutton-form" type="submit" value="S'inscrire"></td>
                <td align="center"><input type="reset" class="Boutton-form" value="Annuler"></td>
            </tr>
        </table>
        <p><span>*</span> représente des champs obligatoires.</p>
    </form>
