.tableHtml {
    overflow: scroll;
    padding: 0;
    margin: 0;
    height: 200px;
    width: 90%;
}



.AsideModal-main{
    background-color: rgba(132, 132, 132, 0.546);
    border: 2px outset green;
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 20%;
}

.AsideModal-main h3{
    padding: 10px 5px;
    background-color: rgb(245, 245, 245);
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    margin: 10px 0;
    font-family: monospace;
}


.tableHtml table{
    background-color: grey;
    color: yellowgreen;
    border: 1px solid black;
    border-radius: 10%;
    text-align: center;
    width: 95%;
}

.tableHtml th{
    color: gold;
    border-bottom: 2px solid black;
}

.tableHtml td{
    padding: 10px 7px;
}


.listeCategorie>ul{
    color: greenyellow;
    background-color: grey;
    list-style: none;
    width: 90%;
    margin: 10px 5px;
    padding: 0;
    font-weight: bold;
    text-align: center;
}

.listeCategorie>ul>li{
    margin: 10px 0;
}


.submenu{
    list-style: none;
    color: red;
    padding: 10px 0;
    font-weight: normal;
    margin: 10px 0;
}

.submenu li {
    margin: 15px 0;
}


.listeCategorie{
    width: 100%;
}

.listeCategorie>ul>li>ul{
    background-color: aliceblue;
    color: blue;
    margin: 0;
    padding: 0;
    list-style: none;
}


.listeCategorie>ul>li>ul>li{
    padding: 10px 0;
}

.listeCategorie>ul>li>ul>li>a{
    background-color: greenyellow;
    border: 2px solid green;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: green;
    transition: all 0.5s;
    margin: 0 5px;
}

.listeCategorie>ul>li>ul>li>a:hover{
    background-color: green;
    border: 2px solid greenyellow;
    color: greenyellow;
}