body {
    background-image: url(../Images/comb\ grid.jpg);
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content: flex-start;
}

#error{
    background-color: rgba(204, 202, 202, 0.739);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20vh;
}

#error>h1{
    text-align: center;
    width: 95%;
}

#error>p{
    color: red;
}