

main{
    background-color: rgba(128, 128, 128, 0.605);
    border: greenyellow outset 3px;
    width: 70%;
    margin: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: center;
}

main table{
    border: 2px solid green;
    background-color: grey;
    width: 85%;
    margin: 10px 0;
}

main td{
    padding: 10px 0px;
    color: greenyellow;
    text-align: center;
}

main a{
    color: black;
    border: 2px solid green;
    border-radius: 5px;
    background-color: greenyellow;
    text-decoration: none;
    padding: 5px;
    margin: 0 auto;
    transition: all 0.6s;
}

main a:hover{
    transform: translateY(-5px);
    background-color: green;
    border: 2px solid greenyellow;
    color: greenyellow;
}

.allCategQuiz{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 5px;
}


.section-group{
    background-color: rgba(29, 200, 100, 0.73);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    margin: 10px 0;
    border: 2px solid greenyellow;
}



.section-group section{
    width: 45%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(61, 61, 61);
    color: greenyellow;
    margin: 5px 10px;
    padding: 5px;
}

main h2{
    width: 65%;
    padding: 15px 5px;
    background-color: rgb(245, 245, 245);
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    margin: 10px 0;
    font-family: monospace;
}

main h3{
    color: blue;
    font-weight: bolder;
    width: 80%;
    text-align: center;
}

main img{
    width: 300px;
    height: 300px;
}

 main p{
    width: 100%;
    text-align: center;
}

main section p{
    text-align: center;
    padding: 0 5px;
    width: 100%;
}