
.top10Modal-table {
    width: 100%;
    text-align: center;
    background-color: var(--bg-color);
    animation: changeBorderColor 3s infinite linear;
}

@keyframes changeBorderColor {
    0% {
        border: 3px solid #00ff00;
    }

    25% {
        border: 3px solid #00e6d2;
    }

    50% {
        border: 3px solid #9d06f5;
    }

    75% {
        border: 3px solid#fffb00;
    }

    100% {
        border: 3px solid #51ff00;
    }
}

.top10Modal-table th {
    color: brown;
    text-decoration: underline blue;
    background-color: grey;
}

.top10Modal-table td {

    color: greenyellow;
    padding: 0.7%;
}

.top10Modal-table td:hover {
    color: yellow;
}

.top10Modal-table tr:nth-child(even) {
    background-color: var(--primary-color);
}

.top10Modal-table tr:nth-child(odd) {
    background-color: grey;
}
.AsideModal-main{
    width: 20%;
    background-color: gray;
    padding: 0.2vh 0.5vw;
    border: 3px outset rgba(17, 224, 17, 0.74);
    background: radial-gradient(circle farthest-corner at center center, rgb(84, 84, 85) 5%, #111111 160%);
}
.AsideModal-main ul>li>ul{
    color: greenyellow;
    list-style: none;
    padding: 5px;
}
.submenu li{
    padding: 5px;
}
.AsideModal-main ul{
    color: red;
    font-weight: bolder;
    list-style: none;
}
.AsideModal-main h3{
    text-align: center;
    font-size: larger;
    padding: 15px;
    background-color: whitesmoke;
    animation: changeBorderColor 3s infinite linear;
}