.tableHtml {
    overflow: scroll;
    padding: 0;
    margin: 0;
    height: 200px;
}

.AsideModal-main{
    background-color: rgba(132, 132, 132, 0.546);
    border: 2px outset green;
    margin: 10px 5px;
}

.AsideModal-main h3{
    padding: 10px 10px;
    background-color: whitesmoke;
    border: 1px solid black;
    text-align: center;
}


.tableHtml table{
    background-color: grey;
    color: yellowgreen;
    border: 1px solid black;
    border-radius: 10%;
    text-align: center;
}

.tableHtml th{
    color: blue;
    border-bottom: 2px solid black;
}

.tableHtml td{
    padding: 5px 7px;
}


.listeCategorie>ul{
    color: blue;
    list-style: none;
    width: 100%;
    margin: 10px 5px;
    padding: 0;
    font-weight: bold;
}

.listeCategorie>ul>li{
    margin: 10px 0;
}


.submenu{
    list-style: none;
    color: red;
    padding: 10px 0;
    font-weight: normal;
}


.listeCategorie{
    width: 100%;
}