.question{
    display: none;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

h1{
    width: 100%;
    color: greenyellow;
    text-align: center;
    padding: 15px 0;
    margin: 10px 0;
}

#quiz-container{
    width: 95%;
    background-color: rgba(76, 199, 129, 0.639);
    border: green outset 4px;
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    box-shadow: 5px 4px 2.5px -2px rgba(0, 0, 0, 0.75);
}

#quiz-container>img{
    width: 40%;
    box-shadow: 5px 4px 2.5px -2px rgba(0, 0, 0, 0.75);
    border: 2px outset green;
}

#quiz-container>section{
    width: 50%;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.224);
    border: 2px green outset;
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 15px;
    box-shadow: 5px 4px 2.5px -2px rgba(0, 0, 0, 0.75);
}

#questionnaire-form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#quiz-container>section>p{
    margin-top: 10px;
    text-align: center;
    color: greenyellow;
}


.question{
    width: 65%;
    margin: 10px auto;
    color: black;
    font-size: larger;
    font-family:cursive ;
    text-align: center;
}

.reponse{
 list-style: none;
 margin: 10px 5px;
 padding: 0;
}

.reponse>li{
    padding: 10px 5px;
}

.button{
    padding: 15px 5px;
    margin: 5px 5px;
    width: 40%;
    box-shadow: 5px 4px 2.5px -2px rgba(0, 0, 0, 0.75);
}

.info-quiz{
    width: 40%;
}