<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se connecter</title>
    <link rel="stylesheet" type="text/css" href="/loginModal.css" >
</head>
<body style="display: flex; flex-wrap: wrap; background-image: url(Images/comb\ grid.jpg)">
    <%- include('../partials/loginModal') %>
</body>
</html>