<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un quiz</title>
    <link rel="stylesheet" href="/createQuiz.css" type="text/css">
    <link rel="stylesheet" href="/navBar.css" type="text/css">
</head>

<body
    style="display: flex; flex-wrap: wrap; background-image: url(Images/comb\ grid.jpg); justify-content: space-around">
    <%- include('../partials/navBar') %>
        <%- include('../partials/createQuiz') %>
            <%- include('../partials/createQuest') %>
                <%- include('../partials/createcateg') %>
</body>

</html>