<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur !</title>
    <link rel="stylesheet" href="../CSS/navBar.css">
    <link rel="stylesheet" href="../CSS/global.css">
</head>
<body>
    <%- include('../partials/navBar') %>
    <div id="error">
        <h1>Quelques chose ne fonctionne pas !</h1>
        <p><%=error%></p>
    </div>
</body>
</html>