<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil QuizApp</title>
    <link rel="stylesheet" type="text/css" href="/loginModal.css" >
    <link rel="stylesheet" href="/navBar.css" type="text/css">
    <link rel="stylesheet" href="/AsideModal.css" type="text/css">
    <link rel="stylesheet" href="/MainAccueil.css" type="text/css"> 
</head>
<body style="background-image: url(Images/comb\ grid.jpg)">
  <div style="display: flex; flex-wrap: wrap;">
  <%- include('../partials/navBar') %>
  <%- include('../partials/loginModal') %>
  <%- include('../partials/AsideModal') %>
  <%- include('../partials/MainAccueil') %>
</div>
</body>
</html>
