<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/navBar.css" type="text/css">
    <title>Profil Utilisateur</title>
</head>
<body style="background-image: url(Images/comb\ grid.jpg); display: flex; flex-wrap: wrap; ">
    <%- include('../partials/navBar') %>
</body>
</html>